<nav style="background: #1F3A93 !important;" class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <img src="/public/assets/img/logo_new.png" class="app-logo">
        Taiichi
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Tablice</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="">Rozmowy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="">Twoje zadania</a>
            </li>
        </ul>
        <div class="mt-2 mt-md-0">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    jgodziuk
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Wyloguj się</a>
                </div>
            </div>
        </div>
    </div>
</nav>
