/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background: #0076bf;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
	.main-container{
		padding-top: 8px;
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		overflow-x: scroll;
		overflow-y: hidden;
		height: calc(100vh - 50px);
	    background: #e6e6e6;
        transition: .3s;
	}

    .main-container--collapsed{
        right: 300px;
        transition: .3s;
    }

	.scroll-y-container{
		padding: 5px;
		display: inline-block;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
	}

    .card-custom{
		display: inline-block;
        float: left;
        width: 250px;
        margin: 5px;
        height: calc(100vh - 96px);
    }

	.card-custom-wrapper{
		-webkit-box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.75);
        width: 100%;
        display: inline-block;
		float: left;
		height: auto;
		background-color: white;
	}
	.card-button{
		color: white;
		border-radius: 3px;
		background: #424242;
		padding: 5px 10px;
		margin: 10px;
		text-align: center;
		cursor: pointer;
	}
	.card-button:hover{
		background: #292929;
		transition: 0.2s;
	}

	.card-custom-title{
        position: relative;
		line-height: 30px;
	    background: black;
		padding-left: 10px;
		color: white;
	}
	.card-custom-title span{

	}
  .settings-tab__users{
       width: 100%;
       min-height: 30px;
       min-width: 100px;
   }
    .card-custom__settings-menu{
        position: absolute;
        right: 5px;
        top: 4px;
        width: 24px;
        height: 24px;
        font-size: 18px;
        padding: 0;
        text-align: center;
        color: #fff;
        background-color: transparent;
        border: 1px transparent solid;
        transition: .3s;
        outline: none;
    }

    .card-custom__settings-menu:hover{
        cursor: pointer;
        transition: .3s;
        color: #ddd;
        outline: none;
    }

    .card-custom__settings-menu:active,
    .card-custom__settings-menu:focus,
    .card-custom__settings-menu:visited{
        text-decoration: none;
        outline: none;
    }

    .button__add-task{
        float:right;
        margin:5px;
        margin-top: -10px;
    }
	button {
		cursor: pointer;
	}

	.tasks-list{
		min-height: 65px;
		padding-left: 0;
		list-style-type: none;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: calc(100vh - 165px);

	}

	.brd-orange {
		border-left: 4px solid #ffc400 !important;
	}

	.brd-green {
		border-left: 4px solid #33ff6f  !important;
	}

	.task {
		border-left: 4px solid red;
		line-height: 14px;
		font-size: 11px;
		padding: 11px;
		cursor: pointer;
		border-bottom: 1px solid #e2e2e2;
	}

  .task:hover{
    background: #f0f0f0;
  }

	.task:active{
		background-color: #ffd7d7;
	}

.cut-string {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.add-board{
    width: 250px;
    height: 133px;
    background-color: #fff;
}

.add-board__header{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    background-color: black;
    color: #fff;
}

.add-board__plus{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 88px;
    font-weight: bold;
    line-height: 0.85;
    color: #dadada;
    user-select: none;
    transition: .2s;
}

.add-board__plus:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: .2s;
}

#comment-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;
}

#comment-list li{
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 5px;
    display: inline-block;
    float: left;
    width: 100%;
}

.comment-content{
    font-size: 12px;
    display: inline-block;
    float: left;
    width: 100%;
}

.comment-user{
    font-size: 10px;
    display: inline-block;
    float: left;
}

.comment-date{
    font-size: 10px;
    padding-right: 8px;
    color: #c6c6c6;
    display: inline-block;
    float: right;
}

.modal-content{
    background: #fbfbfb;
}

.button-settings{
    position: fixed;
    right: 10px;
    bottom: 24px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    transition: .3s;
}

.button-settings:hover{
    background-color: #333;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.button-settings--selected{
    background-color: #333;
    color: #fff;
    transition: .3s;
    right: 300px;
}

.button-settings__filter-icon{
    font-size: 25px;
    line-height: 40px;
}
.button-chat--effect{
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.button-chat{
    position: fixed;
    right: 10px;
    bottom: 70px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    transition: .3s;
}

.button-chat:hover{
    background-color: #333;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.button-chat--selected{
    background-color: #333;
    color: #fff;
    transition: .3s;
    right: 300px;
}

.button-chat__filter-icon{
    font-size: 25px;
    line-height: 40px;
}
@keyframes example {
    from {background-color: #ff9393;}
    to {background-color: white;}
}
.button-notifications--effect{
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.button-notifications{
    position: fixed;
    right: 10px;
    bottom: 116px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    transition: .3s;
}

.button-notifications:hover{
    background-color: #333;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

.button-notifications--selected{
    background-color: #333;
    color: #fff;
    transition: .3s;
    right: 300px;
}

.button-notifications__filter-icon{
    font-size: 25px;
    line-height: 40px;
}

.settings-tab{
    width: 0px;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 58px;
    bottom: 0;
    transition: .3s;
    background-color: #fff;
}

.settings-tab--expanded{
    width: 300px;
    transition: .3s;
}

.settings-tab__container{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 15px;
}

.settings-tab__header{
    width: 100%;
    margin: 10px 0;

}

.notifications-tab{
    width: 0px;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 58px;
    bottom: 0;
    transition: .3s;
    background-color: #fff;
}

.notifications-tab--expanded{
    width: 300px;
    transition: .3s;
}

.notifications-tab__container{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 15px;
}

.chat-tab{
    width: 0px;
    position: fixed;
    overflow: hidden;
    right: 0;
    top: 58px;
    bottom: 0;
    transition: .3s;
    background-color: #fff;
}

.chat-tab--expanded{
    width: 300px;
    transition: .3s;
}

.chat-tab__container{
    padding-bottom: 52px !important;
    height: 100%;
    width: 100%;
}

.chat-tab__header{
    width: 100%;
    text-align: center;
    color: blue;
    margin: 10px 0px;
}

.chat-tab__messages{
    height: 100%;
    overflow-y: scroll;
    padding: 15px 15px;
    display: flex;
    flex-direction: column-reverse;
}

.chat-message{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

.chat-message-content{
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: #f9f9f9;
    padding: 5px 8px;
    font-size: 12px;
}

.chat-message-user{
    display: inline-block;
    font-size: 11px;
    color:lightgrey;
}

.chat-message-date{
    margin-left: 4px
}

.user-item{
  display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px #333 solid;
    line-height: 28px;
    text-align: center;
    font-size: 15px;
    margin: 4px;
    transition: .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.user-item:hover{
     transition: .3s;
     color: #fff;
     background-color: #333;
}
