/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background: #0076bf;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
	.main-container{
		padding-top: 8px;
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		overflow-x: scroll;
		overflow-y: hidden;
		height: calc(100vh - 50px);
	    background: #8695CA;;
	}

	.scroll-y-container{
		padding: 5px;
		display: inline-block;
        width: -moz-max-content;
        width: -webkit-max-content;
        width: max-content;
	}

    .card-custom{
		display: inline-block;
        float: left;
        width: 250px;
        margin: 5px;
        height: calc(100vh - 96px);
    }

	.card-custom-wrapper{
		-webkit-box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 20px -10px rgba(0,0,0,0.75);
        width: 100%;
        display: inline-block;
		float: left;
		height: auto;
		background-color: white;
	}
	.card-button{
		color: white;
		border-radius: 3px;
		background: #424242;
		padding: 5px 10px;
		margin: 10px;
		text-align: center;
		cursor: pointer;
	}
	.card-button:hover{
		background: #292929;
		transition: 0.2s;
	}

	.card-custom-title{
		line-height: 30px;
	    background: #1F3A93;
		padding-left: 10px;
		color: white;
	}
	.card-custom-title span{

	}
	.card-custom-title button {
		margin:5px;
		padding: 0px 3px;
		float:right;
	}
	button {
		cursor: pointer;
	}

	.tasks-list{
		min-height: 65px;
		padding-left: 0;
		list-style-type: none;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: calc(100vh - 165px);

	}

	.brd-orange {
		border-left: 4px solid #ffc400 !important;
	}

	.brd-green {
		border-left: 4px solid #33ff6f  !important;
	}

	.task {
		border-left: 4px solid red;
		line-height: 14px;
		font-size: 11px;
		padding: 11px;
		cursor: pointer;
		border-bottom: 1px solid #e2e2e2;
	}
	.task:active{
		background-color: #ffd7d7;
	}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
