body{
  background-color: black;
}

h1{
  text-align: center;
}

h3{
  margin-bottom: 10px;
  text-align: center;
}
#cont{
  margin-top: 20px;
  background-color: white;
  display: inline-block;
  margin: 0 auto;
  padding: 30px;
  width: 350px;
}

.row{
  padding-top:30px;
}


.password{
  margin-top:5px;
}

.signin{
  width: 100%;
  cursor: pointer;
}

.register{
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
}
