/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background: #455A64;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */
	.main-container{
		padding-top: 8px;
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		overflow-x: scroll;
		overflow-y: hidden;
		height: calc(100vh - 54px);
		background: #e2e2e2;
	}
	
	.scroll-y-container{
		padding: 5px;
		display: inline-block;
		width: max-content;
	}
	
	.card-custom{
		display: inline-block;
		float: left;
		margin: 10px;
		width: 250px;
		height: auto;
		border-radius: 3px;
		background-color: white;
	}
	
	.card-custom-title{
		line-height: 30px;
		background: #009eff;
		padding-left: 10px;
		border-radius: 3px 3px 0 0;
		color: white;
	}
	.card-custom-title span{
		font-weight: 200;
	}
	.card-custom-title button {
		margin:5px;
		padding: 0px 3px;
		float:right
	}
	.tasks-list{
		padding-top: 10px;
		overflow-y: auto;
		overflow-x: hidden;
		max-height: calc(100vh - 140px);
	}
	.task {
		line-height: 14px;
		font-size: 11px;
		background-color: #e4e4e4;
		padding: 11px;
		border-radius: 3px;
		margin: 0px 10px 10px 10px;
		
	}
 
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
