{{#section 'styles'}}
    <link href="/public/assets/css/dashboard.css" rel="stylesheet">
{{/section}}
{{> header}}

<div class="main-container">
    <div class="tables-list">
        <div class="tables-list__header">Lista tablic</div>
        <div class="tables-list__content">
            
        </div>
    </div>
</div>


<script src="/public/assets/js/dashboard.js"></script>
