{{#section 'styles'}}
    <link href="/public/assets/css/dashboard.css" rel="stylesheet">
{{/section}}
{{> header}}

<div class="main-container">
    <div class="tables-list">
        <div class="tables-list__header">Lista tablic</div>
        <div class="tables-list__content">
            <a href="/project" class="table-item table-item--blue">
                <div class="table-item__name">Tablica pierwsza</div>
            </a>
            <a href="/project" class="table-item table-item--blue">
                <div class="table-item__name no-user-select">Tablica druga</div>
            </a>
            <a href="/project" class="table-item table-item--red">
                <div class="table-item__name no-user-select">Tablica trzecia</div>
            </a>
            <a href="/project" class="table-item table-item--yellow">
                <div class="table-item__name no-user-select">Tablica czwarta</div>
            </a>
            <a href="/project" class="table-item table-item--pink">
                <div class="table-item__name no-user-select">Tablica piąta</div>
            </a>
            <a href="/project" class="table-item table-item--purple">
                <div class="table-item__name no-user-select">Tablica szósta</div>
            </a>
            <a href="/project" class="table-item table-item--brown">
                <div class="table-item__name no-user-select">Tablica siódma</div>
            </a>
            <a href="/project" class="table-item table-item--orange">
                <div class="table-item__name no-user-select">Tablica ósma</div>
            </a>
            <a href="/project" class="table-item table-item--brown">
                <div class="table-item__name no-user-select">Tablica dziewiąta</div>
            </a>
            <a href="/project" class="table-item table-item--red">
                <div class="table-item__name no-user-select">Tablica dziesiąta</div>
            </a>
        </div>
    </div>
</div>
