{{#section 'styles'}}
    <link href="/public/assets/css/project.css" rel="stylesheet">
{{/section}}
{{> header}}

<input data-function="projectId" value="{{projectId}}" style="display: none;">

<div class="container-fluid">
    <div class="row">
        <main class="">
            <div class="main-container">
                <div class="scroll-y-container">


                </div>
            </div>
        </main>
    </div>
</div>


<div class="button-settings">
    <div class="fa fa-cog button-settings__filter-icon"></div>
</div>

<div class="button-chat">
    <div class="fa fa-commenting button-settings__filter-icon"></div>
</div>

<div class="button-notifications">
    <div class="fa fa-bell button-notifications__filter-icon"></div>
</div>

<div class="notifications-tab">
    <div class="notifications-tab__container">

    </div>
</div>

<div class="settings-tab">
    <div class="settings-tab__container">
        <div class="settings-tab__header">Użytkownicy</div>
        <div class="settings-tab__users" data-function="project-users-list"></div>
        <div class="settings-tab__header">Dodaj użytkownika</div>
        <input class="form-control" data-function="user-invite-input">
    </div>
</div>

<div class="chat-tab">
    <div class="chat-tab__container">
        <div class="chat-tab__messages">
        </div>
        <div style="position:absolute;bottom:8px;">
          <div class="input-group" style="margin:0px 8px 0px 8px;">
              <input type="text" class="form-control" id="chat-tab-messageInput" placeholder="Napisz wiadomość...">
              <span class="input-group-btn">
                  <button id="chat-tab-sendbutton" class="btn btn-primary" type="button">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
              </span>
          </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="modal-add-board">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Dodawanie tablicy</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="project-name">Nazwa tablicy</label>
                    <input type="text" class="form-control" id="board-name-add" placeholder="Nazwa tablicy">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" data-function="save-new-board">Dodaj</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="modal-edit-board">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Edycja tablicy</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="project-name">Nazwa tablicy</label>
                    <input type="text" class="form-control" id="board-name-edit" placeholder="Nazwa tablicy">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" data-function="save-board">Zapisz</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="modal-confirm-delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Potwierdź usunięcie</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć tę tablicę?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Nie</button>
                <button type="button" class="btn btn-primary" data-function="confirm-delete-button">Tak</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="modal-add-task">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Dodawanie zadania</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="project-name">Nazwa zadania</label>
                    <input type="text" class="form-control" id="task-name-add" placeholder="Nazwa">
                    <label for="project-name">Opis zadania</label>
                    <textarea type="text" class="form-control resize-none h-100" id="task-description-add" placeholder="Opis"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" data-function="save-new-task">Dodaj</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="modal-edit-task">
    <div class="modal-dialog" style="max-width: 70% !important">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"><span id="head-task-name-edit"></span></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">

                <ul class="nav nav-tabs mb-10" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="#details-tab-edit" role="tab" data-toggle="tab">Szczegóły</a></li>
                    <li class="nav-item"><a class="nav-link" href="#files-tab-edit" role="tab" data-toggle="tab">Pliki</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active show" id="details-tab-edit">
                        <div class="row">
                            <div class="col-7">
                                <div class="form-group">
                                    <label for="project-name">Nazwa zadania</label>
                                    <input type="text" class="form-control" id="task-name-edit" placeholder="Nazwa">
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="exampleSelect2">Przypisany do</label>
                                            <select class="form-control" id="exampleSelect2">
                                      <option>Jacek Godziuk</option>
                                      <option>Michał Tkaczyk</option>
                                      <option>Pablito</option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="exampleSelect1">Priorytet</label>
                                            <select class="form-control" id="exampleSelect1">
                                      <option>Natychmiastowy</option>
                                      <option>Wysoki</option>
                                      <option>Normalny</option>
                                      <option>Niski</option>
                                    </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="project-name">Opis zadania</label>
                                    <textarea type="text" class="form-control resize-none" id="task-description-edit" placeholder="Opis" style="min-height: 100px;"></textarea>
                                </div>

                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label for="exampleSelect3">Komentarze</label>
                                    <ul id="comment-list">
                                    </ul>
                                    <div class="input-group" style="margin-top:10px;">
                                        <input type="text" class="form-control" id="task-comment-content" placeholder="Napisz komentarz...">
                                        <span class="input-group-btn">
                                            <button id="task-comment-add" class="btn btn-secondary" type="button">Dodaj</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade in" id="files-tab-edit">
                        <div class="col-xs-4">
                           <div class="form-group">
                             <table class="table">
                                <tbody id="task-edit-filesTable">
                                </tbody>
                              </table>
                             <label class="control-label">Dodaj nowy plik:</label>
                             <input type="file" class="filestyle" id="task-edit-fileInput" data-buttonText="Wybierz">
                           </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-function="save-task">Zapisz</button>
            </div>

        </div>
    </div>
</div>

<script src="/public/assets/js/Project/taskEdit.js"></script>
<script src="/public/assets/js/Project/taskAdd.js"></script>
<script src="/public/assets/js/Project/boardEdit.js"></script>
<script src="/public/assets/js/Project/boardAdd.js"></script>
<script src="/public/assets/js/Project/project.js"></script>
<script src="/public/plugins/bootstrap/bootstrap-filestyle.js"></script>
<script type="text/javascript" src="/public/plugins/bootstrap/bootstrap-filestyle.min.js"></script>
