{{#section 'styles'}}
    <link href="/public/assets/css/project.css" rel="stylesheet">
{{/section}}
{{> header}}

<input data-function="projectId" value="{{projectId}}" style="display: none;">

<div class="container-fluid">
  <div class="row">
    <main class="">
		<div class="main-container">
			<div class="scroll-y-container">

				<div class="card-custom sortable">
                    <div class="card-custom-wrapper">
						<div class="card-custom-title">
							<span>Section title</span>
							<button class="btn btn-outline-secondary btn-sm" type="button">⨯</button>
						</div>
						<ul class="tasks-list">
							<li class="task">
								<h6>Task title</h6>
								Task description goes here
							</li>
							<li class="task brd-orange">
								<h6>Task title</h6>
								Task description goes here
							</li>
							<li class="task brd-green">
								<h6>Task title</h6>
								Task description goes here
							</li>
						</ul>
						<button class="btn btn-outline-primary btn-sm" style="float:right;margin:5px;margin-top: -10px;">Dodaj</button>
                    </div>
				</div>

				<div class="card-custom sortable">
                    <div class="card-custom-wrapper">
						<div class="card-custom-title">
							<span>Section title</span>
							<button class="btn btn-outline-secondary btn-sm" type="button">⨯</button>
						</div>
						<ul class="tasks-list">
							<li class="task">
								<h6>Task title</h6>
								Task description goes here
							</li>
							<li class="task brd-orange">
								<h6>Task title</h6>
								Task description goes here
							</li>
						</ul>
						<button class="btn btn-outline-primary btn-sm" style="float:right;margin:5px;margin-top: -10px;">Dodaj</button>
                    </div>
				</div>

				<div class="card-custom sortable">
                    <div class="card-custom-wrapper">
						<div class="card-custom-title">
							<span>Section title</span>
							<button class="btn btn-outline-secondary btn-sm" type="button">⨯</button>
						</div>
						<ul class="tasks-list">
							<li class="task brd-green">
								<h6>Task title</h6>
								Task description goes here
							</li>
							<li class="task brd-green">
								<h6>Task title</h6>
								Task description goes here
							</li>
						</ul>
						<button class="btn btn-outline-primary btn-sm" style="float:right;margin:5px;margin-top: -10px;">Dodaj</button>
                    </div>
				</div>

				<div class="card-custom sortable">
                    <div class="card-custom-wrapper">
						<div class="card-custom-title">
							<span>Section title</span>
							<button class="btn btn-outline-secondary btn-sm" type="button">⨯</button>
						</div>
						<ul class="tasks-list">
							<li class="task">
								<h6>Task title</h6>
								Task description goes here
							</li>
							<li class="task">
								<h6>Task title</h6>
								Task description goes here
							</li>
						</ul>
						<button class="btn btn-outline-primary btn-sm" style="float:right;margin:5px;margin-top: -10px;">Dodaj</button>
                    </div>
				</div>

				<div class="card-custom sortable">
                    <div class="card-custom-wrapper">
						<div class="card-custom-title">
							<span>Section title</span>
							<button class="btn btn-outline-secondary btn-sm" type="button">⨯</button>
						</div>
						<ul class="tasks-list">
							<li class="task">
								<h6>Task title</h6>
								Task description goes here
							</li>
							<li class="task">
								<h6>Task title</h6>
								Task description goes here
							</li>
						</ul>
						<button class="btn btn-outline-primary btn-sm" style="float:right;margin:5px;margin-top: -10px;">Dodaj</button>
                    </div>
				</div>

				<div class="card-custom sortable">
                    <div class="card-custom-wrapper">
						<div class="card-custom-title">
							<span>Section title</span>
							<button class="btn btn-outline-secondary btn-sm" type="button">⨯</button>
						</div>
						<ul class="tasks-list">
							<li class="task brd-orange">
								<h6>Task title</h6>
								Task description goes here
							</li>
							<li class="task">
								<h6>Task title</h6>
								Task description goes here
							</li>
						</ul>
						<button class="btn btn-outline-primary btn-sm" style="float:right;margin:5px;margin-top: -10px;">Dodaj</button>
                    </div>
				</div>
			</div>
		</div>
    </main>
  </div>
</div>
<script src="/public/assets/js/project.js"></script>
