{{#section 'styles'}}
    <link href="/public/assets/css/project.css" rel="stylesheet">
{{/section}}
{{> header}}

<input data-function="projectId" value="{{projectId}}" style="display: none;">

<div class="container-fluid">
  <div class="row">
    <main class="">
		<div class="main-container">
			<div class="scroll-y-container">

				
			</div>
		</div>
    </main>
  </div>
</div>
<script src="/public/assets/js/project.js"></script>
