{{#section 'styles'}}
    <link href="/public/assets/css/signup.css" rel="stylesheet">
{{/section}}

<div class="row nomargin">
    <div id="cont">
        <form id="signup" name="signup" method="post" action="/signup">
            <h1 class="signin-form__header">Taiichi</h1>
            <h3>Rejestracja</h3>
            <div class="form-group">
                <input type="email" name="email"  class="form-control email" placeholder="Adres e-mail">
                <input type="text" name="firstname"  class="form-control firstname" placeholder="Imię">
                <input type="text" name="lastname"  class="form-control lastname" placeholder="Nazwisko">
                <input type="password" name="password"  class="form-control password"  placeholder="Hasło">
            </div>
          <button type="submit" value="Sign Up" class="btn btn-outline-success signup">Zarejestruj się</button>
        </form>
    </div>
</div>
