{{#section 'styles'}}
    <link href="/public/assets/css/signin.css" rel="stylesheet">
{{/section}}

<div class="main text-center">
    <form class="signin-form col-6" id="signin" name="signin" method="post" action="signin">
        <h1 class="signin-form__header">Sign in</h1>
        <div class="signin-form__inputs">
            <input class="signin-form__input" name="email" type="text" placeholder="Email address"/>
            <input class="signin-form__input" name="password" type="password" placeholder="Password"/>
        </div>
        <input class="btn btn-primary signin-form__button" type="submit" value="Sign In" />
    </form>
</div>
