<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Taiichi</title>
    <link href="/public/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/public/assets/css/signin.css" rel="stylesheet">

    <script src="/public/plugins/jquery/jquery-3.2.1.min.js"></script>
    <script src="/public/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/public/plugins/bootstrap/bootstrap.min.js"></script>
</head>

<body>
<div class="row">
    <div id="cont">
        <form id="signin" name="signin" method="post" action="signin">
            <h1 class="signin-form__header">Taiichi</h1>
            <h3>Logowanie</h3>
            <div class="form-group">
                <input type="email" name="email"  class="form-control email" placeholder="Adres e-mail">
                <input type="password" name="password"  class="form-control password"  placeholder="Hasło">
            </div>
          <button type="submit" value="Sign In" class="btn btn-outline-success signin">Zaloguj się</button>
          <a href="/signup" class="btn btn-outline-primary register" role="button">Rejestracja</a>
        </form>
    </div>
</div>

</body>

</html>
