{{#section 'styles'}}
    <link href="/public/assets/css/signin.css" rel="stylesheet">
{{/section}}

<div class="row nomargin">
    <div id="cont">
        <form id="signin" name="signin" method="post" action="signin">
            <h1 class="signin-form__header">Taiichi</h1>
            <h3>Logowanie</h3>
            <div class="form-group">
                <input type="email" name="email"  class="form-control email" placeholder="Adres e-mail">
                <input type="password" name="password"  class="form-control password"  placeholder="Hasło">
            </div>
          <button type="submit" value="Sign In" class="btn btn-outline-success signin">Zaloguj się</button>
          <a href="/signup" class="btn btn-outline-primary register" role="button">Rejestracja</a>
        </form>
    </div>
</div>
