<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Taiichi</title>
        <link href="/public/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="/public/plugins/font-awesome/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="/public/assets/css/components.css" rel="stylesheet">
        {{{_sections.styles}}}


        <script src="/public/plugins/jquery/jquery-3.2.1.min.js"></script>
        <script src="/public/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="/public/plugins/bootstrap/tether.min.js"></script>
        <script src="/public/plugins/bootstrap/bootstrap.min.js"></script>

    </head>

    <body>

        {{{body}}}

    </body>
  </html>
